h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
}

.livres {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.livres td, .livres th {
  border: 1px solid #ddd;
  padding: 8px;
}

.livres tr:nth-child(even){background-color: #f2f2f2;}

.livres tr:hover {background-color: #ddd;}

.livres th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #92a8d1;
  color: white;
}
